@section scripts {
    @Scripts.Render("~/bundles/app")
}

<head>
    <link rel="SHORTCUT ICON" href="http://localhost:62407/favicon.ico">
    <title>FAVICON</title>
</head>

<div class="page-header">
    <h1>BookService</h1>
</div>

<div class="row">

    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Books</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: books">
                    <li>
                        <strong><span data-bind="text: AuthorName"></span></strong>: <span data-bind="text: Title"></span>
                        <!-- This binds the click handler for the <a> element to the getBookDetail function on the view model. -->
                        <small><a href="#" data-bind="click: $parent.getBookDetail">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>
    
    <!-- ko if:detail() -->
    <!-- In this case, the if binding causes this section of markup to be displayed only when details is non-null. -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr><td>Author</td><td data-bind="text: detail().AuthorName"></td></tr>
                <tr><td>Title</td><td data-bind="text: detail().Title"></td></tr>
                <tr><td>Year</td><td data-bind="text: detail().Year"></td></tr>
                <tr><td>Genre</td><td data-bind="text: detail().Genre"></td></tr>
                <tr><td>Price</td><td data-bind="text: detail().Price"></td></tr>
            </table>
        </div>
    </div>
    <!-- /ko -->

    <div class="col-md-4">
        <!-- TODO: Add new book -->
    </div>
</div>
