@section scripts {
    @Scripts.Render("~/bundles/app")
}

<head>
    <link rel="SHORTCUT ICON" href="http://localhost:62407/favicon.ico">
    <title>FAVICON</title>
</head>

<div class="page-header">
    <h2 class="text-danger">BookService</h2>
</div>


<div class="row">
    <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Books</h2>
            </div>
            <table class="table-striped">
                <tbody data-bind="foreach: books">
                    <tr>
                        <td class="col-md-11">
                            <small><strong><span data-bind="text: AuthorName"></span></strong></small><br><small>&nbsp;&nbsp;"<span data-bind="text: Title"></span>"</small>
                        </td>
                        <!-- This binds the click handler for the <a> element to the getBookDetail function on the view model. -->
                        <td><small><a href="#" data-bind="click: $parent.getBookDetail">Details</a></small></td>
                        <td><small><a href="#" class="label-warning" data-bind="click: $parent.removeBook">Remove</a></small></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- ko if:detail() -->
    <!-- In this case, the if binding causes this section of markup to be displayed only when details is non-null. -->
    <!-- Book details -->
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table table-bordered">
                <tr><td>Author</td><td class="text-info" data-bind="text: detail().AuthorName"></td></tr>
                <tr><td>Title</td><td class="text-info" data-bind="text: detail().Title"></td></tr>
                <tr><td>Year</td><td class="text-info" data-bind="text: detail().Year"></td></tr>
                <tr><td>Genre</td><td class="text-info" data-bind="text: detail().Genre"></td></tr>
                <tr><td>Price</td><td class="text-info" data-bind="text: detail().Price"></td></tr>
            </table>
        </div>
    </div>
    <!-- /ko -->
    
    <!-- Add new book -->
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title">Add Book</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addBook">
                    <div class="form-group">
                        <label for="inputAuthor" class="col-sm-2 control-label">Author </label>
                        <div class="col-sm-10 text-right pull-right">
                            <select data-bind="options:authors, optionsText: 'Name', value: newBook.Author"></select>
                        </div>
                    </div>

                    <div class="form-group" data-bind="with: newBook">
                        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputTitle" data-bind="value:Title" />
                        </div>

                        <label for="inputYear" class="col-sm-2 control-label">Year</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputYear" data-bind="value:Year" />
                        </div>

                        <label for="inputGenre" class="col-sm-2 control-label">Genre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputGenre" data-bind="value:Genre" />
                        </div>

                        <label for="inputPrice" class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" step="any" class="form-control" id="inputPrice" data-bind="value:Price" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger text-right pull-right">Submit</button>
                </form> 
            </div>
        </div>
    </div>
</div>
