<div>
  <div class="photos">
    <div class="row" ng-repeat="row in rows">
        <div class="photoContainer" ng-class="'col-md-' + 12/columns" ng-repeat="img in row" ng-class="img.Position">
            <a href="{{img.ImagePath}}/" data-lightbox="roadtrip">
                <img ng-src="{{img.ThumbnailPath}}/" class="img-responsive img-rounded center-block" ng-attr-style="{{img.IsMain ? 'outline: 3px solid orange' : ''}}" />
            </a>
        </div>
    </div>
  </div>

  <ul class="list-group" ng-show="selectedPhotos.length > 0">
    <h4><b>Selected files: </b></h4>
    <li ng-repeat="photo in selectedPhotos" class="list-group-item">
      <span class="glyphicon glyphicon-picture"></span>
      &nbsp;{{photo.name}}
      <a href="" ng-click="removeSelectedPhoto($index)"><span class="glyphicon glyphicon-remove"></span></a>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;{{photo.uploadStatus || ''}}</span>
    </li>
  </ul>
  
  <div class="btn-file btn btn-xs btn-default" ng-show="!readonly">
    <span>Add photos</span>
    <input type="file" multiple accept="image/*" on-events="fileChangedHandler">
  </div>
  
  <button class="btn btn-xs btn-primary" ng-show="selectedPhotos.length > 0" ng-click="save()"><span class="glyphicon"></span>Save photos</button>
</div>