<form class="form-horizontal" >
    <fieldset>
        <legend>{{legend}}</legend>    
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Start Place</label>
            <div class="col-lg-10">
                <select class="form-control" id="select" ng-model="route.StartPlaceId">
                    <option ng-repeat="place in places" value="{{place.Id}}">{{place.Name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Finish Place</label>
            <div class="col-lg-10">
                <select class="form-control" id="select" ng-model="route.FinishPlaceId">
                    <option ng-repeat="place in places" value="{{place.Id}}">{{place.Name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="textDescription" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textDescription" ng-model="route.Description">{{route.Description}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2"></label>
            <div class="col-lg-5">
                <label>Start: </label><br/>
                <input ui-date="dateOptions" ui-date-format="DD, d MM, yy" ng-model="route.Start">
            </div>
            <div class="col-lg-5">
                <label>Finish: </label><br />
                <input ui-date="dateOptions" ui-date-format="DD, d MM, yy" ng-model="route.Finish">
            </div>
        </div>
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Cost</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputName" value="{{route.Cost}}" ng-model="route.Cost">
            </div>
        </div>
    </fieldset>
    <div class="text-right">
        <button class="btn btn-default" onclick="history.go(-1);">Cancel</button>
        <button class="btn btn-primary" ng-click="save();">Save</button>
    </div>
</form>