<div>
  <span class="editorLabel">
    <b>{{label}}</b>
  </span>
  <table class="table">
    <tr>
      <td class="header">Old Password</td>
      <td>
        <input type="password" class="form-control" id="inputName" value="{{itemData.oldPassword}}" ng-model="itemData.OldPassword">
      </td>
    </tr>
    <tr>
      <td class="header">New Password</td>
      <td>
        <input type="password" class="form-control" id="inputName" value="{{itemData.newPassword}}" ng-model="itemData.NewPassword">
      </td>
    </tr>
    <tr>
      <td class="header">Confirm Password</td>
      <td>
        <input type="password" class="form-control" id="inputName" value="{{itemData.confirmPassword}}" ng-model="itemData.ConfirmPassword">
      </td>
    </tr>
    <tr>
      <td class="header"></td>
      <td>
        <div class="buttons text-right">
          <a class="btn-xs btn-primary" ng-click="saveChanges()">Change Password</a>
          <a class="btn-xs btn-default" ng-click="cancel()">Cancel</a>
        </div>
      </td>
    </tr>
  </table>
</div>
