<div class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">My Trips</a></li>
      </ul>
        <ul class="nav navbar-nav">
            <li><a href="#/places">Places</a></li>
        </ul>
      <form class="navbar-form navbar-left">
        <input type="text" class="form-control col-lg-8" ng-model="tripFilter" placeholder="Search">
      </form>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="{{signedIn}}" class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">{{userName}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="">Profile</a></li>
                    <li><a href="">Settings</a></li>
                    <li><a href="" ng-click="logOut();">Sign Out</a></li>
                </ul>
            </li>
            <li ng-show="{{!signedIn}}"><a href="#/sign-in">Sign in</a></li>
        </ul>
    </div>
  </div>
</div>
<button type="button" class="btn btn-link" ng-click="create()">New trip</button>
<br>
<div class="list-group">
    <a ng-repeat="trip in trips | filter : tripFilter | orderBy : tripsOrder" href="#/trips/{{trip.Id}}" class="list-group-item">
        <bold><h4 class="list-group-item-heading">{{trip.Name}}</h4></bold>
        <p class="list-group-item-text">{{trip.Description}}</p>
    </a>
</div>