# you should add ignore items here

# Visual Studio files
*.suo
*.user

# MS SQL Server files
*.ldf
*.mdf

# NuGet packages
**/packages

# Samples
/Samples/GoogleMaps/JS-GoogleMaps/.idea
/Samples/EF/ASP NET Web API with EF/ProductStore/bin
/Samples/EF/ASP NET Web API with EF/ProductStore/obj
/Samples/EF/Web API 2 with EF 6/BookService/bin
/Samples/EF/Web API 2 with EF 6/BookService/obj
/Samples/EF/Web API 2 with EF 6/BookService.Tests/bin
/Samples/EF/Web API 2 with EF 6/BookService.Tests/obj

# 'TravelBro' project
/TravelBro/Travel.Web/bin
/TravelBro/Travel.Web/obj
/TravelBro/Travel.Web/App_Data/Images
/TravelBro/Travel.Web/App_Data/Thumbnails
