# you should add ignore items here

# Visual Studio files
*.suo

# NuGet packages
**\packages

# filters for Samples
Samples\GoogleMaps\JS-GoogleMaps\.idea
Samples\EF\ASP NET Web API with EF\ProductStore\bin
Samples\EF\ASP NET Web API with EF\ProductStore\obj

# filters for 'TravelBro' project
TravelBro\Travel.Web\bin
TravelBro\Travel.Web\obj
