body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.colored-dark-red, .navbar-inverse {
  background-color: rgba(137, 23, 23, 0.99);
}

.navbar-inverse {
  border-color: rgba(137, 23, 23, 0.99);
}

.navbar-inverse .navbar-nav>li>a {
  color: rgba(255, 249, 15, 0.91);
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: rgba(99, 239, 253, 0.91);
}

.footer-light {
  color: rgba(121, 117, 117, 0.76);
    font-size: 12px;
}
