<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome to TravelBro Service</title>

    <link rel="stylesheet" href="~/Scripts/app/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/Scripts/app/css/app.css">
    <link rel="stylesheet" href="~/Scripts/app/bower_components/jquery-ui/themes/cupertino/jquery-ui.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
        <notification-area />
    </div>
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false&libraries=geometry,places"></script>
    <script src="~/Scripts/app/bower_components/requirejs/require.js" data-main="Scripts/app/main.js"></script>
</body>
</html>
