<!doctype html>
<html lang="en" ng-app="travelbroApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome to TravelBro Service</title>
    <link rel="stylesheet" href="~/Scripts/app/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/Scripts/app/css/app.css">

    <script src="~/Scripts/app/bower_components/jquery/jquery.js"></script>
    <script src="~/Scripts/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/app/bower_components/angular/angular.js"></script>
    <script src="~/Scripts/app/bower_components/angular-route/angular-route.js"></script>
    <script src="~/Scripts/app/bower_components/angular-resource/angular-resource.js"></script>
    <script src="~/Scripts/app/js/app.js"></script>
    <script src="~/Scripts/app/js/controllers.js"></script>
    <script src="~/Scripts/app/js/filters.js"></script>
    <script src="~/Scripts/app/js/services.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
